/*Resect*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Imposto colore sfondo*/

body{
    background-color: lightgray;
}

/*Intestazione sito con logo*/

.heading{
    width: auto;
    height: 75px;
    background-color: white;
}

#logo{
    margin: auto 5px auto;
    vertical-align: auto;
}

#logo-text{
    font-size: 35px;
}

/*Contenitore opzioni*/

.box{
    width: 750px;
    height: 550px;
    background-color: white;
    margin: 40px auto;
    border-radius: 10px;
}

.first-container{
    text-align: center;
    margin: 40px auto;
}