/*Resect*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Imposto colore sfondo*/

body{
    background-color: lightgray;
}

/*Intestazione sito con logo*/

.heading{
    width: auto;
    height: 75px;
    background-color: white;
}

#logo{
    margin: auto 5px auto;
    padding: 10px 0 10px 10px ;
    vertical-align: middle;
}

#logo-text{
    font-size: 35px;
}

/*Contenitore opzioni*/

.box{
    width: 650px;
    height: 750px;
    background-color: white;
    margin: 40px auto;
    border-radius: 10px;
}

.first-container{
    text-align: left;
    margin: 30px 30px;
    padding: 20px;
}

.option-1{
    border: 5px;
    border-color: grey;
    border-radius: 5px;
    background-color: darkcyan;
}

.option-2{
    
    border: 5px;
    border-color: gray;
    border-radius: 5px;
    background-color: whitesmoke;
}

.second-container{
    text-align: left;
    margin: 30px 30px;
    padding: 20px;
}

/*Task*/

.journal{
    background-color: lightskyblue;
    border-radius: 5px;
}